<h1>Add new igredient</h1>
<p>and tell us how much of it you need to add</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient %>
<%= f.submit %>
<% end %>
